/*
 *Name: Jessica Garrett
 *UnityID: jlgarre3
 *Date: 11.16.2023
 *Assignment: Independent Assignment 4
 *Description: Website Design and Styling 
 */
 
p {
    background-color: #b8d4be;
}

.table-border {
    border: 3px solid #000000;
}

#photo-style {
    border: 2px outset #107a25;
    max-width: 200px;
    max-height: 250px;
}
