/*

*Name: Jessica Garrett
*UnityID: jlgarre3
*Date: 11.14.2023
*Assignment: Guided Lab 4
*Description: Guided Lab 4 Styling
 */
 
p {
    font-family: Times;
	font-size: 16px;
	color: #290715;
}

.table-border {
    border: lpx solid #290715;
}

#photo-resize {
    max-width: 250px;
	max-height: 300px;
}
